<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>  
  <targets>
      <target
              xsi:type="File"
              name="file"
              archiveNumbering="DateAndSequence"
              archiveAboveSize="5000000"
              fileName="${logDirectory}/log-${shortdate}.log"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" 
			  maxArchiveFiles="30"
			  archiveEvery="Day"/>
	  <target
              xsi:type="Console"
              name="console"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
      <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
          <target 
                  xsi:type="Seq" 
                  serverUrl="http://localhost:5341"
                  layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"
                  apiKey="" />
      </target>      
  </targets>
  <rules>
	  <logger name="*" minlevel="Trace" writeTo="file" />
	  <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="seq" />
  </rules>
</nlog>
